<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_KEY</key>
	<string>628c53b5691aae4d0a8c62ae</string>
	<key>CHANNEL</key>
	<string>Apple Store</string>
</dict>
</plist>
